p{
    color:red;
    font-size:25px;
}
.vg{
    color:blue;
}
#vtg{
    color:green;
}
div{
    height:200px;
    width:200px;
    background-color:aqua;
    text-align:center;
    align-content:center;
    padding:5px;
}